@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
p,
img,
span,
ul {
  user-select: none;
}

button {
  transition: 0.5s;
}

button:hover {
  opacity: 0.9;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.testimonials-container .testimonials-card:last-child {
  margin-right: 0px;
}

.testimonials-card {
  background: #242830;
}

.testimonials-card:hover {
  background: var(--black-gradient);
}

.blogs-container .blogs-card:last-child {
  margin-right: 0px;
}

.blogs-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.bg-blur-stats {
  background-image: url(./assets/statsbg.png);
}

.scroller {
  background-color: #4762e4;
  display: flex;
  width: 100%;
  height: 90px;
  overflow: hidden;
  align-items: center;
}

.scroller-inner {
  display: flex;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes scroll {
  to {
    transform: translateX(-100%);
  }
}

.scroller-item {
  display: flex;
  flex-shrink: 0;
  margin-left: 4px;
  margin-right: 4px;
}

.scroller-item img {
  height: 30px;
  width: 30px;
}

.scroller-item h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .scroller-item h1 {
    font-size: 3rem;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.heroBg {
  background-image: url(./assets/heroBg.png);
  position: relative;
}

.latestProjectsBg {
  background-image: url(./assets/latestProjectsBg.png);
}

.footerBg {
  background-image: url(./assets/footerBg.png);
}

.whyusBg {
  background-image: url(./assets/whyusBg.png);
}

.bgComponent {
  background-image: url(./assets/bgComponent.png);
}

.bgHeroBanner {
  background-image: url(./assets/bgHeroBanner.png);
}

.whychooseusBg {
  background-image: url(./assets/whychooseusBg.png);
}

.bgHero {
  background-image: url(./assets/bgHero.png);
}
